.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.risultato {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: red;
}

.somma {
    grid-column: 1;
    grid-row: 2;
    background-color: red;
}

.sottrazione {
    grid-column: 2;
    grid-row: 2;
    background-color: red;
}

.moltiplicazione {
    grid-column: 3;
    grid-row: 2;
    background-color: red;
}

.divisione {
    grid-column: 4;
    grid-row: 2;
    background-color: red;
}

