body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

nav {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    line-height: 32px;
}

.logo {
    padding: 15px;
    line-height: 32px;
}

.logo h1 {
    color: #fff;
    margin: 0;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.selected a {
    font-weight: bold;
}

.unselected a:hover {
    background-color: #555;
}

.DropdownMenu {
    display: flex;
}

.DropdownMenu ul {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.DropdownMenu:hover ul {
    display: flex;
}

.DropdownMenu ul li {
    clear: both;
    display: flex;
    color: #fff;
    margin-left: 10px;
}

.disabled a {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
    color: #5b5e62;
}

.search {
    display: flex;
    justify-content: flex-end;
}

form {
    margin: 0;
    padding: 10px;
}

input[type="search"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 8px;
    font-size: 16px;
    background-color: #555;
    color: #208151;
    border-radius: 5px;
    border: 1px solid #208151;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}

/* Media query per adattare il layout su schermi di larghezza inferiore a 600px */
@media only screen and (max-width: 600px) {
    .logo,
    .search {
        text-align: center;
        padding: 15px 0;
    }

    .search {
        justify-content: center;
    }

    .search form {
        width: 100%;
    }
}

