body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.card {
    max-width: 300px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.img {
    position: relative;
    height: 200px;
    background-color: #858f97;
}

.img h1 {
    line-height: 200px;
    text-align: center;
    color: #fff;
    font-weight: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 25px;
    color: #333;
    margin-top: 1px;
    margin-bottom: 1px;
}

p {
    margin: 0;
    font-size: 18px;
    color: #666;
}

a {
    color: #3498db;
}

.linkSx {
    margin-right: 10px;
}

.linkDx {
    margin-left: 10px;
}



/* Media query per la visuale da tablet e pc */
@media screen and (min-width: 600px) {
    .card {
        max-width: 500px;
    }

    .img {
        height: 150px;
    }

    .img h1 {
        line-height: 150px;
        font-size: 18px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }
}

/* Media query per la visuale da smartphone */
@media screen and (max-width: 599px) {
    .card {
        max-width: 100%;
        margin: 20px;
    }

    .img {
        height: 100px;
    }

    .img h1 {
        line-height: 100px;
        font-size: 16px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}
