body {
    background-color: #3498db;
    height: 100vh;
    width: 100 vw;
}

.rettangolo1 {
    height: 20px;
    width: 200px;
    background-color: #ee82ee;
    margin-bottom: 10px;
}

.rettangolo2 {
    height: 20px;
    width: 200px;
    background-color: #ee82ee;
    margin-top: 175px;
}

.header{
    justify-content: space-around;
    display: flex;
}

.main {
    height: 200px;
}

.top {
    height: 200px;
    width: 100%;
    display: flex;
}

.top > .vuoto {
    height: 170px;
    width: 50%;
    background-color: transparent;
}

.top > .mainDx {
    height: 200px;
    width: 50%;
    background-color: #37cc71;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bottom {
    height: 200px;
    width: 100%;
    display: flex;
    margin-top: -40px;
}

.bottom > .vuoto {
    height: 170px;
    width: 50%;
    background-color: transparent;
}

.bottom > .mainSx {
    height: 200px;
    width: 50%;
    background-color: #fdff00;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.central {
    height: 20px;
    width: 130px;
    background-color: #ee82ee;
}

.footer{
    display: flex;
    justify-content: space-between;
}





