@import url("general.css");

.articolo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 8px grey;
  border-radius: var(--border-radius);
  padding: 24px;
  margin: 20px 0px;
}

.article-title {
  box-shadow: 0 0 8px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 400px;
  
}

.articolo img {
  width: 400px;
}

.articolo p {
  width: 400px;
}
