.body {
    display: flex;
    flex-direction: column;
}

.container-top {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.sx-top {
    height: 100%;
    width: 50%;
    background-color: #ed6e52;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dx-bottom {
    height: 100%;
    width: 50%;
    background-color: #ed6e52;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dx-top {
    height: 100%;
    width: 50%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.dx-top1 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    
}

.dx-top2 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    
    
}

.spazio2 {
    height: 50%;
    width: 100%;
    background-color: #ed6e52;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spazio4 {
    height: 50%;
    width: 100%;
    background-color: #ed6e52;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spazio3 {
    height: 50%;
    width: 100%;
    background-color: #ed6e52;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spazio5 {
    height: 50%;
    width: 100%;
    background-color: #ed6e52;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-bottom {
    height: 300px;
    width: 100%;
    margin-top: 10px;
    display: flex;

}

.sx-bottom {
    height: 100%;
    width: 50%;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.sx-bottom1 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    
}

.sx-bottom2 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    
}



