header{
    width: 100%;
    height: 100px;
}
main{
    width: 100%;
    height: 500px;
}
footer{
    width: 100%;
    height: 70px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: #00ffff;
}

.container button {
    margin: 10px;
}

.btnPlus {
    background-color: #00ff00;
}
.btnMenus {
    background-color: #ff0000;
    color: #fff;
}