body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0;
}

#green {
    width: 100%;
    max-height: 50px;
    grid-column: span 6;
    grid-row: span 1;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 20px;
    margin-bottom: 20px !important;
    
}

#yellow {
    grid-column: span 2;
    grid-row: span 1;
    max-height: 260px;
    margin: 0;
    margin-top: 1px !important;
    padding-left: 20px;

}
    

#yellow ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    
}

#yellow li {
    
    grid-column: span 2;
    grid-row: span 2;
}

#red {
    grid-column: span 2;
    grid-row: span 1;
    margin: 0;
    margin-left: 20px;
    padding-left: 20px;
    max-height: 260px;
}

#red ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    
}

#red li {
    
    grid-column: span 2;
    grid-row: span 2;
}

#blue {
    grid-column: span 2;
    grid-row: span 2;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    height: 396px;
}

#orange {
    width: 100%;
    margin: 0;
    max-height: 50px;
    grid-column: span 4;
    grid-row: span 1;
    margin-top: 20px;
    padding-top: 2em;
    padding-bottom: 2em;
}

#orange p {
    margin-left: 20px;
}