*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
}

.card {
    height: 350px;
    width: 300px;
    margin-top: 24px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 500ms;
    
}

.front,
.back {
    
    position: absolute;
    border-radius: 8px;
    background-color: #fff;
    padding: 24px;
    height: 350px;
    width: 300px;
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.25);
    backface-visibility: hidden;
} 

.back {
    transform: rotateY(180deg);
}

.label-input {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

