blockquote {
	background-color: rgba(0, 0, 0, .12);
	padding: 8px;
	quotes: "\201C" "\201D";
  }
  
  blockquote::before {
	content: open-quote;
  }
  
  blockquote::after {
	content: close-quote;
  }
  
  a {
	color: darkred;
	text-decoration: none;
  }
  
  a:hover {
	color: darkorange; /* Cambia colore al passaggio del mouse */
  }
  
  a:visited {
	color: purple; /* Colore diverso se il link è già stato visitato */
  }
  
  p:first-of-type::first-letter {
	float: left;
	color: darkred;
	border: 3px ridge darkgoldenrod;
	padding: 16px;
	background-color: gold;
	margin: 8px;
  }
  